.transaction_history {
    margin: 20px auto;
    width: 500px;
    border-collapse: collapse;
    margin-top: 20px;
}

.transaction_history th,
.transaction_history td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.transaction_history th {
    background-color: #75bbf4;
}

/* Додатковий стиль для виділення заголовків таблиці */
.transaction_history th {
    font-weight: bold;
}

/* Додатковий стиль для виділення рядків при наведенні */
.transaction_history tbody tr:hover {
    background-color: #bbecf9;
}